<div data-w-id="b45b685b-72f5-5870-2757-7981a86fda70" class="sidebar-dashboard">
  <a routerLink="" class="w-inline-block">
    <div class="logo-div"><img src="assets/images/mira_logo_animation.gif" width="70" class="logo"></div>
  </a>
  <div class="nav-bar"><a routerLink="" class="nav-link w-inline-block"><img src="assets/images/add.svg" class="nav-link-icon"><div>Create</div></a></div>
</div>
<app-save-box [mobile]="mobile"></app-save-box>
<div class="dashboard-div">
  <div data-w-id="f6083d89-daa0-ddd5-042f-afe892aa6926" class="right-div">
    <app-currency></app-currency>
  </div>
  <div data-w-id="9a726329-2038-0ba9-07e7-25aae49e600b" class="left-div">
    <div class="tips-div">
      <div class="block-heading">
        <h5 class="block-header">Tips</h5>
      </div>
      <div class="block-content">
        <p class="tips-paragraph">Choose the preferred cryptocurrency, which you want to add to MiraBox and press Create button.</p>
      </div>
    </div>
  </div>
</div>
