<div class="dashboard-div">
  <div class="account">
    <div class="account-text">Available:</div>
    <div class="account-info"><strong>{{ miraLicenseBalance }}</strong></div>
    <div class="account-info">License</div>
    <div class="account-info"><strong>{{ miraBalance }}</strong></div>
    <div class="account-info">Action Coins</div>
  </div>
    <div data-w-id="f6083d89-daa0-ddd5-042f-afe892aa6926" class="right-div">
      <app-mirabox-currency [miraBox]="miraBox" [privateKey]="privateKey"></app-mirabox-currency>
    </div>
  <div data-w-id="9a726329-2038-0ba9-07e7-25aae49e600b"  class="left-div">
    <div class="actions-div" *ngIf="!isMiraBoxOpened">
      <div class="block-heading">
        <h5 class="block-header">Actions with MiraBox</h5>
        <img class="block-header loading-spinner" [ngStyle]="{'visibility': gettingPrivateKeys ? 'unset' : 'hidden'}" src="assets/images/mira-loading.gif">
      </div>
      <div class="block-content actions"><a (click)="changingPin = !changingPin" class="action-button _3 w-button">Change Pin</a>
        <input type="button" (click)="getPrivateKeys = !getPrivateKeys" [disabled]="isGetPrivateKeysDisabled" value="Get Private Keys" class="action-button _2 w-button" [ngClass]="{'mirabox-creating-button':isGetPrivateKeysDisabled}" ></div>
    </div>
    <app-change-pin [hidden]="!changingPin"
                    [miraBox]="miraBox"
                    (changePinClosed)="closeChangePin($event)">
    </app-change-pin>
    <app-get-private-keys [hidden]="!getPrivateKeys"
                          (gotPrivateKey)="onPrivateKey($event)"
                          [parentSubject]="parentSubject"
                          [miraBox]="miraBox"
                          (getPrivateKeysClosed)="getPrivateKeysClosed($event)">
    </app-get-private-keys>
    <div class="tips-div">
      <div class="block-heading">
        <h5 class="block-header">Tips</h5>
      </div>
      <div class="block-content">
        <p class="tips-paragraph">Address for replenishment is next to currency.<br/><br/>
          To open MiraBox and get private keys, click "Get Private Keys".<br/><br/>
          Please, note: you can unpack MiraBox only once.<br/><br/>
          If you have received this MiraBox from other individuals, we strongly recommend to change PIN respectively as soon as possible.</p>
      </div>
    </div>
    <app-last-actions [parentSubject]="parentSubject" [miraBox]="miraBox"></app-last-actions>
  </div>
</div>
