.fix-display{
  display: flex;
}
.form-error{
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}
.form-success {
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}
