<div class="actual-box-div">
  <div class="block-heading">
    <h5 class="block-header">{{ miraBox.getTitle() }}</h5>
  </div>
  <div *ngFor="let miraBoxItem of miraBox.getMiraBoxItems()" class="currency-line">
    <div class="currency-icon-div"><img [appCurrencyImage]="miraBoxItem.currency" src = '' class="currency-icon" ></div>
    <div class="currency-title">
      <div><strong>{{ miraBoxItem.currency }} </strong>{{ miraBoxItem.currency }}</div>
    </div>
    <div class="wallet-address-div">
      <div>{{miraBoxItem.address}}</div>
    </div>
    <div class="buttons-div"></div>
    <div class="delete-div"></div>
  </div>
  <a class="link-2 w-button" data-ix="open-save-form" (click)="nothing()">SAVE</a>
</div>
<div class="open-box-div"><img src="assets/images/cube.svg" class="box-icon">
  <div class="text-block">To open new MiraBox drag &amp; drop file here, or</div>
</div>
