<div class="actual-box-div">
  <div class="block-heading">
    <h5 class="block-header">Untitled Box</h5>
  </div>
  <div class="currency-line">
    <div class="currency-icon-div"><img src="assets/images/Asset-42x.png" class="currency-icon"></div>
    <div class="currency-title">
      <div><strong>Bitcoin</strong> BTC</div>
    </div>
    <div class="wallet-address-div">
      <div class="wallet-address w-embed"><input class="wallet-address"></div>
    </div>
    <div class="buttons-div"><a href="#" class="copy w-inline-block"><img src="assets/images/copy.svg">
    </a><a href="#" class="qr-code w-inline-block">
      <img src="assets/images/QR-code.svg"></a><a (click)="test()" class="send-button w-button" data-ix="open-send-form">Send</a>
    </div>
    <div class="delete-div"><a href="#" class="delete w-inline-block"><img src="assets/images/cancel-button.svg"></a>
    </div>
  </div>
  <div class="currency-line">
    <div class="currency-icon-div"><img src="assets/images/Asset-62x.png" class="currency-icon"></div>
    <div class="currency-title">
      <div><strong>Ethereum </strong>ETH</div>
    </div>
    <div class="wallet-address-div">
      <div>12alizsc.lkisdfnczSliASD</div>
    </div>
    <div class="buttons-div"><a href="#" class="copy w-inline-block"><img src="assets/images/copy.svg"></a><a href="#"
                                                                                                              class="qr-code w-inline-block"><img
      src="assets/images/QR-code.svg"></a><a href="#" class="send-button w-button" data-ix="open-send-form">Send</a>
    </div>
    <div class="delete-div"><a href="#" class="delete w-inline-block"><img src="assets/images/cancel-button.svg"></a>
    </div>
  </div>
  <div class="currency-line">
    <div class="currency-icon-div"><img src="assets/images/Asset-72x.png" class="currency-icon"></div>
    <div class="currency-title">
      <div><strong>Ripple </strong>XRP</div>
    </div>
    <div class="wallet-address-div"><a href="#" class="add w-inline-block"><img
      src="assets/images/add-button-inside-black-circle.svg"></a></div>
    <div class="buttons-div"></div>
    <div class="delete-div"></div>
  </div>
  <div class="currency-line">
    <div class="currency-icon-div"><img src="assets/images/Asset-52x.png" class="currency-icon"></div>
    <div class="currency-title">
      <div><strong>Bitcoin Cash </strong>BCH</div>
    </div>
    <div class="wallet-address-div"><a href="#" class="add w-inline-block"><img
      src="assets/images/add-button-inside-black-circle.svg"></a></div>
    <div class="buttons-div"></div>
    <div class="delete-div"></div>
  </div>
  <div class="currency-line">
    <div class="currency-icon-div"><img src="assets/images/Asset-82x.png" class="currency-icon"></div>
    <div class="currency-title">
      <div><strong>EOS </strong>EOS</div>
    </div>
    <div class="wallet-address-div"><a href="#" class="add w-inline-block"><img
      src="assets/images/add-button-inside-black-circle.svg"></a></div>
    <div class="buttons-div"></div>
    <div class="delete-div"></div>
  </div>
  <div class="currency-line">
    <div class="currency-icon-div"><img src="assets/images/Asset-92x.png" class="currency-icon"></div>
    <div class="currency-title">
      <div><strong>Stellar Lumens </strong>XLM</div>
    </div>
    <div class="wallet-address-div"><a href="#" class="add w-inline-block"><img
      src="assets/images/add-button-inside-black-circle.svg"></a></div>
    <div class="buttons-div"></div>
    <div class="delete-div"></div>
  </div>
  <div class="currency-line">
    <div class="currency-icon-div"><img src="assets/images/Asset-112x.png" class="currency-icon"></div>
    <div class="currency-title">
      <div><strong>Litecoin </strong>LTC</div>
    </div>
    <div class="wallet-address-div"><a href="#" class="add w-inline-block"><img
      src="assets/images/add-button-inside-black-circle.svg"></a></div>
    <div class="buttons-div"></div>
    <div class="delete-div"></div>
  </div>
  <div class="currency-line">
    <div class="currency-icon-div"><img src="assets/images/Asset-102x.png" class="currency-icon"></div>
    <div class="currency-title">
      <div><strong>Cardano </strong>ADA</div>
    </div>
    <div class="wallet-address-div"><a href="#" class="add w-inline-block"><img
      src="assets/images/add-button-inside-black-circle.svg"></a></div>
    <div class="buttons-div"></div>
    <div class="delete-div"></div>
  </div>
  <div class="currency-line disable">
    <div class="currency-icon-div"><img src="assets/images/Asset-122x.png" class="currency-icon"></div>
    <div class="currency-title">
      <div><strong>IOTA </strong>MIOTA</div>
    </div>
    <div class="wallet-address-div"></div>
    <div class="buttons-div"></div>
    <div class="delete-div"></div>
  </div>
  <div class="currency-line disable">
    <div class="currency-icon-div"><img src="assets/images/Asset-132x.png" class="currency-icon"></div>
    <div class="currency-title">
      <div><strong>Tether </strong>USDT</div>
    </div>
    <div class="wallet-address-div"></div>
    <div class="buttons-div"></div>
    <div class="delete-div"></div>
  </div>
  <a class="link-2 w-button" data-ix="open-save-form" (click)="showSaveBox()">SAVE</a>
</div>
