<div data-w-id="f6083d89-daa0-ddd5-042f-afe892aa6926" class="right-div">
<div class="actual-box-div">
  <div class="block-heading">
    <h5 class="block-header">Untitled Box</h5>
  </div>

  <div *ngFor="let currency of currencies" class="currency-line">
    <div class="currency-icon-div"><img src="{{ currency.icon }}" [ngClass]="{'currency-inactive': !currency.added }" class="currency-icon" ></div>
    <div class="currency-title">
      <div><strong>{{ currency.name }} </strong>{{ currency.symbol }}</div>
    </div>
    <div class="wallet-address-div"><a (click)="currency.added = !currency.added; changeInCurrencies();" class="add w-inline-block"><img
      src="assets/images/add-button-inside-black-circle.svg"></a></div>
    <div class="buttons-div"></div>
    <div class="delete-div"></div>
  </div>
  <div *ngFor="let inactiveCurrency of inactiveCurrencies" class="currency-line disable">
    <div class="currency-icon-div"><img src="{{inactiveCurrency.icon}}" class="currency-icon"></div>
    <div class="currency-title">
      <div><strong>{{ inactiveCurrency.name }} </strong>{{inactiveCurrency.symbol}}</div>
    </div>
    <div class="wallet-address-div"></div>
    <div class="buttons-div"></div>
    <div class="delete-div"></div>
  </div>
  <a class="link-2 w-button" data-ix="open-save-form" (click)="showSaveBox(currencies)">SAVE</a>
</div>
  <div class="open-box-div"><img src="assets/images/cube.svg" class="box-icon">
    <div class="text-block">To open new MiraBox drag &amp; drop file here, or</div>
  </div>
</div>
