<div class="save-wrapper fix-display">
  <div class="popup-div">
    <div class="block-heading">
      <h5 class="block-header">Change Pin</h5>
    </div>
    <div class="form">
      <div class="form-block w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <label for="change-pin-old-pin">Old PIN</label>
          <input type="password"
                 class="authorization-field w-input"
                 maxlength="256" name="change-pin-old-pin" data-name="change-pin-old-pin"
                 id="change-pin-old-pin"
                 placeholder="Old PIN"
                 [(ngModel)]="formModel.oldPin"
                 (focus)="resetAllEvents()"
                 [disabled]="formSubmitting"
                 required="">
          <div class="_2-pins-div">
            <div class="pin-div">
              <label for="change-pin-new-pin">New PIN</label>
              <input type="password"
                     class="authorization-field w-input"
                     maxlength="256" name="change-pin-new-pin" data-name="change-pin-new-pin"
                     placeholder="New PIN"
                     id="change-pin-new-pin"
                     [(ngModel)]="formModel.newPin"
                     (focus)="resetAllEvents()"
                     [disabled]="formSubmitting"
                     required="">
            </div>
            <div class="pin-div">
              <label for="change-pin-r-new-pin">Repeat new PIN</label>
              <input type="password"
                     class="authorization-field w-input"
                     maxlength="256" name="change-pin-r-new-pin"
                     data-name="change-pin-r-new-pin" placeholder="Repeat new PIN"
                     id="change-pin-r-new-pin"
                     [(ngModel)]="formModel.repeatNewPin"
                     (focus)="resetAllEvents()"
                     [disabled]="formSubmitting"
                     required="">
            </div>
          </div>
          <input type="button" (click)="changePin()" [disabled]="formSubmitting" value="Change"
                 data-wait="Please wait..." class="save-form-button w-button">
        </form>
        <div [hidden]="!showSuccess" class="form-success">
          <div>Thank you! Your pin has been changed!</div>
        </div>
        <div [hidden]="!showError" class="form-error">
          <div>{{errorMessage}}</div>
        </div>
      </div>
    </div>
  </div>
  <a (click)="closeChangePin()" class="link-block w-inline-block" data-ix="close-save-form">
    <img src="assets/images/cancel.svg" data-ix="close-authorization">
  </a>
</div>
