@import 'assets/styles/css/normalize.css';
@import 'assets/styles/css/webflow.css';
@import 'assets/styles/css/mirabox-ui.webflow.css';
.mirabox-creating-button{
  background-color: grey;
  cursor: default;
}
.currency-icon {
  filter: saturate(100%);
  -webkit-filter: saturate(100%);
}
.save-wrapper {
  display: unset;
  opacity: 100;
}
.w-form-fail {
  display: unset;
}
.form-error{
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}
.form-success {
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}
.fix-display{
  display: flex;
}
@media screen and (max-width: 767px) {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    font-size: 16px;
  }
}
.loading-spinner{
  object-fit: cover;
  width: 100px;
  height: 50px;
  display: block;
  margin: 0px auto 0px;
}
.loading-spinner-div{
  margin: 0 0 -50px 0;
}
@media (max-width: 991px) {
  .loading-spinner {
    height: 40px;
  }
  .loading-spinner-div{
    margin: 0 0 -30px 0;
  }
}
@media (max-width: 767px) {
  .loading-spinner {
    height: 30px;
  }
  .loading-spinner-div{
    margin: 0 0 -30px 0;
  }
}
