@import 'assets/styles/css/normalize.css';
@import 'assets/styles/css/webflow.css';
@import 'assets/styles/css/mirabox-ui.webflow.css';
.currency-icon {
  filter: saturate(100%);
  -webkit-filter: saturate(100%);
}
.save-wrapper {
  display: unset;
  opacity: 100;
}
.w-form-fail {
  display: unset;
}
.form-error{
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}
.form-success {
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}
.fix-display{
  display: flex;
}
@media screen and (max-width: 767px) {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    font-size: 16px;
  }
}
