<div data-w-id="b45b685b-72f5-5870-2757-7981a86fda70" class="sidebar-create-box">
  <a routerLink="" class="w-inline-block">
    <div class="logo-div"><img src="assets/images/mira_logo_animation.gif" width="70" class="logo">
      <img src="assets/images/mira.png" width="60" class="mira"></div>
  </a>
  <div class="div-block">
    <a routerLink="dashboard/create" class="sidebar-link-block w-inline-block" data-ix="sidebar-to-the-left">
      <img src="assets/images/Button-Creat-Box.gif" width="100" class="image-2" />
      <h5 class="heading-2">Create new MiraBox</h5></a>
  </div>
  <div class="sidebar-tip">
    <div class="sidebar-text">Here you can create or open MiraBox — cold storage for any cryptocurrencies. <br><a
      href="https://miralab.io/mirabox.html">What about this page</a><br>
      Attention! This is a test version of the platform, developed solely to demonstrate the benefits and capabilities of MiraBox.
    </div>
  </div>
</div>
<div class="main-div">
  <div class="text-block-2">Get started with MiraBox</div>
  <h1 class="heading">Drop your MiraBox here</h1>
  <app-file-upload [text]="'To get started with MiraBox, drag & drop file here'"
                   (fileContentReceived)="onFileContentReceived($event)">
  </app-file-upload>
  <app-check-pin [miraBox]="miraBox"
                 [hidden]="!showCheckPin"
                 (pinChecked)="pinChecked($event)"
                 (checkPinClosed)="closeCheckPin($event)">
  </app-check-pin>
</div>

