<div data-w-id="b45b685b-72f5-5870-2757-7981a86fda70" class="sidebar-dashboard">
  <a routerLink="" class="w-inline-block">
    <div class="logo-div"><img src="assets/images/mira_logo_animation.gif" width="70" class="logo"></div>
  </a>
  <div class="nav-bar"><a routerLink="" class="nav-link w-inline-block"><img src="assets/images/add.svg" class="nav-link-icon"><div>Create</div></a><a routerLink="" class="nav-link w-inline-block"><img src="assets/images/split-call-arrows.svg" class="nav-link-icon"><div>Split</div></a><a routerLink="" class="nav-link w-inline-block"><img src="assets/images/merge-calls-arrow.svg" class="nav-link-icon"><div>Merge</div></a><a routerLink="" class="nav-link w-inline-block"><img src="assets/images/folder-open-shape.svg" class="nav-link-icon"><div>Open</div></a><a routerLink="" class="nav-link w-inline-block"><img src="assets/images/sending.svg" class="nav-link-icon"><div>Send</div></a><a routerLink="" class="nav-link w-inline-block"><img src="assets/images/password.svg" class="nav-link-icon"><div>Change PIN</div></a><a routerLink="" class="nav-link w-inline-block"><img src="assets/images/padlock.svg" class="nav-link-icon"><div>Protect</div></a></div>
</div>
<div class="dashboard-div">
  <div class="account">
    <div class="account-text">Available:</div>
    <div class="account-info"><strong>1</strong></div>
    <div class="account-info">License</div>
    <div class="account-info"><strong>1080</strong></div>
    <div class="account-info">Action Coins</div><img src="assets/images/man-user.svg" class="account-icon"><a routerLink="" class="account-link">Username</a>
    <div class="account-divider"></div><a routerLink="" class="account-link">Logout</a></div>
  <div data-w-id="f6083d89-daa0-ddd5-042f-afe892aa6926" class="right-div">
    <div class="actual-box-div">
      <div class="block-heading">
        <h5 class="block-header">Untitled Box</h5>
      </div>
      <div class="currency-line">
        <div class="currency-icon-div"><img src="assets/images/Asset-42x.png" class="currency-icon"></div>
        <div class="currency-title">
          <div><strong>Bitcoin</strong> BTC</div>
        </div>
        <div class="wallet-address-div">
          <div class="wallet-address w-embed"><input class="wallet-address"></div><a routerLink="" class="send-button w-button">Send</a></div>
        <div class="delete-div"><a routerLink="" class="delete w-inline-block"><img src="assets/images/cancel-button.svg"></a></div>
      </div>
      <div class="currency-line">
        <div class="currency-icon-div"><img src="assets/images/Asset-62x.png" class="currency-icon"></div>
        <div class="currency-title">
          <div><strong>Ethereum </strong>ETH</div>
        </div>
        <div class="wallet-address-div">
          <div>1BoatSLRHtKNngkdXEeobR76b53LETtpyT</div><a routerLink="" class="send-button w-button">Send</a></div>
        <div class="delete-div"><a routerLink="" class="delete w-inline-block"><img src="assets/images/cancel-button.svg"></a></div>
      </div>
      <div class="currency-line">
        <div class="currency-icon-div"><img src="assets/images/Asset-72x.png" class="currency-icon"></div>
        <div class="currency-title">
          <div><strong>Ripple </strong>XRP</div>
        </div>
        <div class="wallet-address-div"><a routerLink="" class="add w-inline-block"><img src="assets/images/add-button-inside-black-circle.svg"></a></div>
        <div class="delete-div"></div>
      </div>
      <div class="currency-line">
        <div class="currency-icon-div"><img src="assets/images/Asset-52x.png" class="currency-icon"></div>
        <div class="currency-title">
          <div><strong>Bitcoin Cash </strong>BCH</div>
        </div>
        <div class="wallet-address-div"><a routerLink="" class="add w-inline-block"><img src="assets/images/add-button-inside-black-circle.svg"></a></div>
        <div class="delete-div"></div>
      </div>
      <div class="currency-line">
        <div class="currency-icon-div"><img src="assets/images/Asset-82x.png" class="currency-icon"></div>
        <div class="currency-title">
          <div><strong>EOS </strong>EOS</div>
        </div>
        <div class="wallet-address-div"><a routerLink="" class="add w-inline-block"><img src="assets/images/add-button-inside-black-circle.svg"></a></div>
        <div class="delete-div"></div>
      </div>
      <div class="currency-line">
        <div class="currency-icon-div"><img src="assets/images/Asset-92x.png" class="currency-icon"></div>
        <div class="currency-title">
          <div><strong>Stellar Lumens </strong>XLM</div>
        </div>
        <div class="wallet-address-div"><a routerLink="" class="add w-inline-block"><img src="assets/images/add-button-inside-black-circle.svg"></a></div>
        <div class="delete-div"></div>
      </div>
      <div class="currency-line">
        <div class="currency-icon-div"><img src="assets/images/Asset-112x.png" class="currency-icon"></div>
        <div class="currency-title">
          <div><strong>Litecoin </strong>LTC</div>
        </div>
        <div class="wallet-address-div"><a routerLink="" class="add w-inline-block"><img src="assets/images/add-button-inside-black-circle.svg"></a></div>
        <div class="delete-div"></div>
      </div>
      <div class="currency-line">
        <div class="currency-icon-div"><img src="assets/images/Asset-102x.png" class="currency-icon"></div>
        <div class="currency-title">
          <div><strong>Cardano </strong>ADA</div>
        </div>
        <div class="wallet-address-div"><a routerLink="" class="add w-inline-block"><img src="assets/images/add-button-inside-black-circle.svg"></a></div>
        <div class="delete-div"></div>
      </div>
      <div class="currency-line disable">
        <div class="currency-icon-div"><img src="assets/images/Asset-122x.png" class="currency-icon"></div>
        <div class="currency-title">
          <div><strong>IOTA </strong>MIOTA</div>
        </div>
        <div class="wallet-address-div"></div>
        <div class="delete-div"></div>
      </div>
      <div class="currency-line disable">
        <div class="currency-icon-div"><img src="assets/images/Asset-132x.png" class="currency-icon"></div>
        <div class="currency-title">
          <div><strong>Tether </strong>USDT</div>
        </div>
        <div class="wallet-address-div"></div>
        <div class="delete-div"></div>
      </div><a routerLink="" class="link-2 w-button">SAVE</a></div>
    <div class="open-box-div"><img src="assets/images/cube.svg" class="box-icon">
      <div class="text-block">To open new MiraBox drag &amp; drop file here, or</div><a routerLink="" class="link w-button">Open New File</a></div>
  </div>
  <div data-w-id="9a726329-2038-0ba9-07e7-25aae49e600b" class="left-div">
    <div class="actions-div">
      <div class="block-heading">
        <h5 class="block-header">Actions with Box</h5>
      </div>
      <div class="block-content actions"><a routerLink="" class="action-button _1 w-button">Send Box</a><a routerLink="" class="action-button _2 w-button">Get Private Key</a><a routerLink="" class="action-button _3 w-button">Change Pin</a></div>
    </div>
    <div class="tips-div">
      <div class="block-heading">
        <h5 class="block-header">Tips</h5>
      </div>
      <div class="block-content">
        <p class="tips-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
      </div>
    </div>
    <div class="last-actions-div">
      <div class="block-heading">
        <h5 class="block-header">Last Actions</h5>
      </div>
      <div class="block-content">
        <div class="last-actions-line">
          <div class="action-title">Added ETH Wallet</div>
          <div class="action-value">-100 AC</div>
        </div>
        <div class="last-actions-line">
          <div class="action-title">Added LTC Wallet</div>
          <div class="action-value">-100 AC</div>
        </div>
        <div class="last-actions-line">
          <div class="action-title">Changed PIN</div>
          <div class="action-value">-50 AC</div>
        </div>
        <div class="last-actions-line">
          <div class="action-title">Sent Box</div>
          <div class="action-value">-200 AC</div>
        </div>
        <div class="last-actions-line">
          <div class="action-title">Added BCH Wallet</div>
          <div class="action-value">-100 AC</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
