<div class="save-wrapper fix-display">
  <div class="popup-div">
    <div class="block-heading">
      <h5 class="block-header">Repack Mirabox</h5>
    </div>
    <div class="form">
      <div class="form-block w-form">
        <div class="w-checkbox">
          <input class="w-checkbox-input" type="checkbox" id="changeEmail" name="feature"
                 value="scales" [checked]="repackMiraBoxForm.checkBox" (change)="repackMiraBoxForm.checkBox=!repackMiraBoxForm.checkBox" checked />
          <label class="w-form-label" for="changeEmail">Change email</label>
        </div>
        <div *ngIf="repackMiraBoxForm.checkBox">
          <label  for="newEmail">New Email</label>
          <input [(ngModel)]="repackMiraBoxForm.email" (focus)="resetErrorMessage()" type="email" class="authorization-field w-input" maxlength="256" name="Email-4" data-name="Email 4"
               placeholder="New Email" id="newEmail" required="">
          <label  for="pin">Pin</label>
          <input [(ngModel)]="repackMiraBoxForm.pin" (focus)="resetErrorMessage()" type="text" class="authorization-field w-input" maxlength="256" name="Email-4" data-name="Email 4"
                 placeholder="PIN" id="pin" required="">
        </div>
          <input [ngClass]="{'mirabox-creating-button': isRepacking}"
                 [disabled]="isRepacking"
                 (click)="clickSendByEmail()" type="button" value="Repack and send by e-mail" data-wait="Please wait..." class="send-form-button w-button">
          <a id="download-mirabox" style="display: none"></a>
          <input (click)="clickDownload()"
                 [ngClass]="{'mirabox-creating-button': isRepacking}"
                 [disabled]="isRepacking" type="button" value="Repack and download" data-wait="Please wait..."
                 class="save-form-button w-button">
        <div [hidden]="!isRepacking" class="loading-spinner-div">
          <img class='loading-spinner' src="assets/images/mira-loading.gif">
        </div>
        <div [hidden]="!showSuccess" class="form-success">
          <div>Thank you! Your pin has been changed!</div>
        </div>
        <div [hidden]="!showError" class="form-error">
          <div>{{errorMessage}}</div>
        </div>
      </div>
    </div>
  </div>
  <a (click)="closeWindow()" class="link-block w-inline-block" data-ix="close-save-form">
    <img src="assets/images/cancel.svg" data-ix="close-authorization">
  </a>
</div>
